/* Color Palette */
:root {
  --main-color: #D90429;
  --dark-color: #202121;
  --light-color: #939393;
}

/* Default CSS Settings */
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* HTML & Body Settings */
html, body {
  font-family: 'Quicksand', sans-serif !important;
  line-height: 1.8rem !important;
  box-sizing: border-box;
  font-size: 15px;
}

/* HTML element settings */

p {
  color: var(--dark-color) !important;
}

h3, h5 {
  color: var(--dark-color) !important;
} 

h6 {
  color: var(--main-color) !important;
}

nav {
  background: var(--dark-color) !important;
  padding: 1rem 2.5rem !important;
}

nav .navbar-nav a {
  color: var(--light-color) !important;
  padding: 0 .8rem !important;
}

button, .btn {
  background: var(--main-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: .8rem 1.5rem !important;
  color: white !important;
}

/* CSS */

nav button {
  background: none !important;
}

.header-section {
	height: 100vh;
	min-height: 500px;
  background: url(images/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.header-section h1, .header-section h4 {
  color: white !important;
}

#portfolio-section{
  width: 60% !important;
}

form .row {
  margin: 0 !important;
  padding: 0 !important;
}

footer div {
  height: 60px;
  color: var(--light-color) !important;
  background: var(--dark-color) !important;
}

/* Media Queries */

@media  (max-width: 991px) {
  /* Navbar */
  nav li{
    padding: .4rem 0;
  }
  nav .nav-social{
    border-top: 1px solid white !important;
    margin-top: .8rem !important;
  }
  nav .nav-social li:first-child{
    margin-top: .8rem !important;
  }
  /* Portfolio */
  #portfolio-section{
    width: 90% !important;
  }

}